<section class="landing-section bg-white min-h-screen w-full text-center relative overflow-hidden pt-20" data-header-color="black">
    <h2 class="text-black pt-15 text-[40px] font-medium mb-12">Nosotros</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mx-auto px-6 h-full w-full max-w-6xl">
      <!-- Primera Carta -->
      <div class="bg-[#1F434F] bg-opacity-90 rounded-lg overflow-hidden relative group flex items-center justify-center md:col-span-1 md:row-span-2 h-[28rem] shadow-lg transform hover:scale-95 transition-all duration-200">
        <div class="absolute inset-0 p-4 flex flex-col justify-center items-center z-10">
          <span class="text-white text-lg font-medium text-center">
            "Variedad y calidad: Ofrecemos una amplia selección de vestidos únicos, cuidadosamente seleccionados para cada ocasión especial, con el objetivo de hacerte lucir y sentir increíble."
          </span>
        </div>
      </div>
      <!-- Segunda Carta -->
      <div class="bg-[#1F434F] bg-opacity-90 rounded-lg overflow-hidden relative group flex items-center justify-center md:col-span-2 h-40 shadow-lg transform hover:scale-95 transition-all duration-200">
        <div class="absolute inset-0 p-4 flex flex-col justify-center items-center z-10">
          <span class="text-white text-lg font-medium text-center">
            "Atención personalizada: Nuestro equipo de expertos está aquí para guiarte y asesorarte en cada paso, asegurándonos de que encuentres el vestido perfecto que refleje tu estilo y personalidad."
          </span>
        </div>
      </div>
      <!-- Tercera Carta (Ajuste de altura) -->
      <div class="bg-[#1F434F] bg-opacity-90 rounded-lg overflow-hidden relative group flex items-center justify-center md:col-span-2 h-60 shadow-lg transform hover:scale-95 transition-all duration-200">
        <div class="absolute inset-0 p-4 flex flex-col justify-center items-center z-10">
          <span class="text-white text-lg font-medium text-center">
            "Confianza y experiencia: Con más de una década en el mundo de la moda, nos enorgullece brindar un servicio excepcional y diseños de calidad que superan las expectativas de nuestros clientes."
          </span>
        </div>
      </div>
    </div>
</section>





  
  
  
  
  
  
  
  
  