<body>
<section class="bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color="white">
    <div class="z-30 relative h-full flex flex-col">
        <header class="flex flex-col">
            <h2 class="text-white pt-40 text-[40px] font-medium">Sitio Web de Chloe Vestidos</h2>
            <p class="text-white text-sm underline">Alquiler de vestidos y accesorios</p>
        </header>
        <footer class="flex flex-grow  justify-end flex-col pb-20">       
            <div>
                <a href="https://www.instagram.com/chloe.tiendadevestidos/"
                class="custom-link bg-white/5 backdrop-blur-1xl text-sm rounded font-medium px-12 py-2 inline-block">
                Visita nuestro feed
             </a>
             
            </div> 
    </footer>
    </div>

   <div class="absolute top-0 bottom-0 h-full left-0 w-screen  bg-cover bg-center z-20" style="background-image: url('assets/fondobienvenida.avif');"></div>
</section>
</body>