<section class="bg-[#1f434f] h-screen w-screen text-center relative flex flex-col justify-center items-center px-8 py-12 overflow-x-hidden max-w-full">
  <div class="bg-white/5 backdrop-blur-1xl border border-white/30 shadow-lg rounded-lg p-6 w-full max-w-3xl">
      <h2 class="text-3xl font-bold text-white mb-8">¿CÓMO ALQUILAR?</h2>
      <div class="text-white text-lg space-y-4">
          <p>1. Agendá tu cita por la web.</p>
          <p>2. Te probás todos los outfits que quieras en el showroom.</p>
          <p>3. Elegís y reservás el outfit indicado.</p>
          <p>4. Lo retirás el día previo al evento.</p>
          <p>5. Devolvés tu outfit el primer día hábil después del evento.</p>
          <p>6. La tintorería está incluida en el precio.</p>
          <p>7. Y listo, vos encargate de disfrutar y brillar, nosotras nos encargamos del resto.</p>
          <p class="text-white font-medium mt-4">Se recomienda pedir turno 60 días antes del evento.</p>
      </div>
      <div class="mt-8">
          <a href="https://linktr.ee/chloetiendadevestidos" target="_blank" class="custom-link bg-white/5 backdrop-blur-1xl text-sm rounded font-medium px-12 py-2 inline-block">Reservar cita</a>
      </div>
  </div>
</section>




